* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    background-color: rgb(243, 243, 243);
    margin: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
    width: 80%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 60rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 2px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout {
    color: #0095f6;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
    font-size: 16px;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3 rem 0;
}

.get-app {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-self: center;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 4rem;
    width: 15rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(../apple.png);
}

.app-download:nth-child(2) {
    background-image: url(../google.png);
}


/* Responsividade*/

@media (max-widht: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media(max-width: 650px) {
    .body {
        background-color: #ffffff;
    }
    .instagram-wrapper {
        width: 90%;
    }
    .instagram-phone {
        display: none;
    }
    .instagram-continue {
        width: 100%;
    }
    .group {
        border: 1px solid transparent;
    }
}